{{/* The accounts page to be displayed on URL /{user}/account */}}

{{define "body"}}
<div id="body">
    <div style="display: flex; align-items: center; margin-bottom: 20px;">
        <div class="avatar" style="background-image: url('/public/images/{{.PageUser.Avatar}}'); width: 70px; height: 70px;"></div>
        <h1 style="margin-left: 20px;">Edit Account: <i>"{{.PageUser.Name}}"</i></h1>
    </div>

    <form onsubmit="return updateAccount('/update-account')" class="updateForm" style="margin-bottom: 100px;">

        <label>Add a New Avatar: <input name="avatar" type="file" accept="image/*"></label><br>

        <label>Change Username: <input name="user-name" type="text" value="{{.PageUser.Name}}"></label><br>
        <label>Change URL: <input name="user-url" type="text" value="{{.PageUser.Url}}"></label><br>
        
        <input id="account-token" name="token" type="hidden" required value=" ">

        <p id="message"></p>
        <input type="submit" value="Update Account">
    </form>

    <form onsubmit="return changePassword('/update-password')" class="updateForm">

        <label>New Password: <input name="password" type="password"></label><br>
        <label>Repeat New Password: <input name="rep-password" type="password"></label><br>

        <input id="password-token" name="token" type="hidden" required value=" ">

        <p id="message"></p>
        <input type="submit" value="Change Password">
    
    </form>
    
</div>
{{end}}