{{/* The home page to be displayed on URL /{user}/events when not logged in */}}

{{define "body"}}
<div id="body">
    <h1><i>{{.PageUser.Name}}</i> Events</h1>
    {{if not .PageUser.Event_List}}
        <p>This user has no public events</p>

    {{else}}
        <!-- Display public events --> 
        {{range .PageUser.Event_List}}
            <div class="event" style="border: 1px solid white; margin-bottom: 20px;">
                <p style="font-size: 40px;">{{.Name}}</p>
                <p>{{.Tldr}}</p>
                <p></p>
            </div>
        {{end}}
    {{end}}
</div>
{{end}}