{{/* The home page to be displayed on URL /{user}/events when a user is logged in */}}

{{define "body"}}
<div id="body">
    <h1>Manage Your Events</h1>
    {{if not .PageUser.Event_List}}
        <p>You have no events</p>

    {{else}}
        <!-- Display all my events --> 
        {{range .PageUser.Event_List}}
            <div class="event" style="border: 1px solid white; margin-bottom: 20px;">
                <p style="font-size: 40px;">{{.Name}}</p>
                <p>Summary: {{.Tldr}}</p>
                <p>Status: {{.IsPrivate}}</p>
                <p>{{.Code}}</p>
                <p></p>
            </div>
        {{end}}
    {{end}}


    <div id="add-event" title="Create a new event" onclick="displayMaker()" style="
        width: var(--header-height);
        height: var(--header-height);
        background-color: var(--link-color);
        border-radius: 50%;
        position: fixed;
        z-index: 5;
        bottom: 10vh;
        left: calc(((100vw -  var(--content-width)) / 2) +  var(--content-width) + 1vw);
        font-size: var(--header-height);
        text-align: center;
        padding: 0;
        margin: auto;
        line-height: var(--header-height);
        cursor: pointer;
        background-image: url('/public/images/add.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    "></div>
    <script src="/public/script/make-event.js"></script>
</div>
{{end}}