{{/* The home page to be displayed on URL /hosts */}}

{{define "body"}}
<div id="body">
    <div id="host-header">
        <h1>Hosts</h1>
        <div id="search">
            <input type="text" id="search-field">
            <button style="margin-left: 5px;">Search</button>
        </div>
    </div>
    {{range .HostList}}
        <a href="/{{.Url}}">
            <div class="host-bar">
                <div>
                    <div class="avatar" style="background-image: url('/public/images/{{.Avatar}}');"></div>
                    <p>{{.Name}}</p>
                </div>
                <div style="display: block; text-align: right;">
                    <p>Subscribers:&nbsp;&nbsp;&nbsp; {{.Subs}}</p>
                    <p>Events:&nbsp;&nbsp;&nbsp; {{.Events}}</p>
                </div>
            </div>
        </a>
    {{end}}
</div>
<script>
    let button = document.querySelector("#search > button");
    let field = document.querySelector("#search-field")
    let hosts = [...document.querySelectorAll(".host-bar")]
    button.addEventListener("click", () => {
        hosts.forEach(h => {
            // console.log(h.querySelector("div > p").innerText)
            if (!h.querySelector("div > p").innerText.toLowerCase().includes(field.value.toLowerCase())) {
                h.style.display = "none"
            } else {
                h.style.display = "flex"
            }
        })
    })
    field.addEventListener("keypress", e => {
        if (e.key === "Enter") {
            button.click()
        }
    })
</script>
{{end}}