{{/* The home page to be displayed on URL /hosts */}}

{{define "body"}}
<div id="body">
    <h1>Hosts</h1>
    {{range .HostList}}
        <a href="/{{.Url}}">
            <div class="host-bar">
                <div>
                    <div class="avatar" style="background-image: url('/public/images/{{.Avatar}}');"></div>
                    <p>{{.Name}}</p>
                </div>
                <div>
                    <!-- Subscribe? display subs and event count? -->
                </div>
            </div>
        </a>
    {{end}}
</div>
{{end}}