{{/* The home page to be displayed on URL /{user}/ */}}

{{define "body"}}
<div id="body">
    <h1>Edit Home Page: <i>"{{.PageUser.Name}}"</i></h1>

    <form onsubmit="return updatePage('/update-page')" id="updateForm" id="updateForm">

        <label>Add a New Page Banner: <input name="banner" type="file" accept="image/*"></label><br>
        
        <label>About Us: <br><textarea name="about" rows="43" cols="100" maxlength="4500" placeholder="Add a description of your events and your organization here...">{{.UserPage.About}}</textarea></label><br>

        <input id="token" name="token" type="hidden" required value=" ">

        <label>Public: 
        
            {{if .UserPage.Public}}
                <input id="isPublic" name="isPublic" type="checkbox" style="margin-top: 30px;" checked>
            {{else}}
                <input id="isPublic" name="isPublic" type="checkbox" style="margin-top: 30px;">
            {{end}}
        </label><br>

        <p id="message"></p>
        <input type="submit" value="Update Page" >
    </form>
    <br>
    <a href="/{{.PageUser.Url}}/live-view"><button>Public View</button></a>

    
</div>
{{end}}