{{/* The home page to be displayed on URL /{user}/ */}}

{{define "body"}}
<div id="body">
    <h1>Edit: <i>"{{.PageUser.Name}}"</i> Page</h1>

    <form onsubmit="return updatePage()" id="updateForm">

        <label>About: <br><textarea name="about" rows="4" cols="50" maxlength="2048">{{.UserPage.About}}</textarea></label><br>

        <label><input name="banner" type="file" value="{{.UserPage.Banner}}" accept="image/*"></label><br>
        <label>Public: 
        
            {{if .UserPage.Public}}
                <input name="isPublic" type="checkbox" checked>
            {{else}}
                <input name="isPublic" type="checkbox">
            {{end}}
        </label><br>

        <input type="submit" value="Update Page">
    </form>

    
</div>
{{end}}