{{/* The home page to be displayed on URL /{user}/ */}}

{{define "body"}}
<div id="body">
    <h1>Edit: <i>"{{.PageUser.Name}}"</i> Page</h1>

    <form onsubmit="return updatePage()" id="updateForm" id="updateForm">

        <label>Add a New Page Banner: <input name="banner" type="file" value="{{.UserPage.Banner}}" accept="image/*"></label><br>
        
        <label>About Us: <br><textarea name="about" rows="43" cols="100" maxlength="5000" placeholder="Add a description of your events and your organization here...">{{.UserPage.About}}</textarea></label><br>

        <label>Public: 
        
            {{if .UserPage.Public}}
                <input name="isPublic" type="checkbox" style="margin-top: 30px;" checked>
            {{else}}
                <input name="isPublic" type="checkbox" style="margin-top: 30px;">
            {{end}}
        </label><br>

        <input type="submit" value="Update Page" >
    </form>

    
</div>
{{end}}