{{/* The home page to be displayed on URL /{user}/ */}}

{{define "body"}}
<div id="body">
    <div id="banner" style="background-image: url('/public/images/{{.PageUser.Url}}/{{.UserPage.Banner}}');"></div>
    <div style="display: flex; align-items: center;">
        <div class="avatar" style="background-image: url('/public/images/{{.PageUser.Avatar}}'); width: 70px; height: 70px;"></div>
        <h1 style="margin-left: 20px;">{{.PageUser.Name}}</h1>
    </div>
    <p>Subscribers: {{.PageUser.Subs}} &nbsp;&centerdot;&nbsp; <a class="sub" href="/">Subscribe</a><br></p>
    <p><a href="/{{.PageUser.Url}}/events" style="text-decoration: underline;">See my events</a></p>
    <p>{{.UserPage.About}}</p>
</div>
{{end}}