

@font-face {
    font-family: "lato";
    src: url("./fonts/Lato/Lato-Bold.ttf");
}

:root {
    --main-color: rgb(25,26,31);
    --gradient-color: rgb(31,32,37);
    --link-color: rgb(33,99,232);
    --font-color: rgb(255,255,255);
    --content-width: 60vw;
    --header-height: 51px;
    --input-padding: 20px;
}

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, var(--gradient-color), var(--main-color));
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
    min-height: 100vh;
    height: auto;
    margin: 0;
    font-family: "lato", sans-serif;
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: var(--font-color);
}

a:hover {
    color: var(--link-color);
}



/* nav bar styles */
header {
    background-color: var(--main-color);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    height: var(--header-height);
    z-index: 1;
    font-size: 16px;
    white-space: nowrap;
}

#nav {
    width: var(--content-width);
    display: flex;
    justify-content: space-between;
}

#links {
    display: flex;
    justify-content: space-evenly;
}

#links > * {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

#links > * > * {
    color: var(--font-color);
    text-decoration: none;
}
#links > * > *:hover {
    color: var(--link-color);
}


/* log in/out button */
#use-buttons > p:hover {
    color: var(--link-color);
    cursor: pointer;
}


/* content styles */

#content {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 10vh;
    position: absolute;
    top: calc(var(--header-height) * 2);
}

#body {
    width: var(--content-width);
    overflow-x: hidden;
    padding-bottom: 100px;
}

#banner {
    width: var(--content-width);
    height: 200px;
    margin-bottom: 20px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.avatar {

    width: 100px;
    height: 100px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.updateForm > label > input, .updateForm > label > textarea  {
    margin-bottom: var(--input-padding);
    
}

textarea {
    width: var(--content-width);
    resize: vertical;
}

.host-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid rgb(174, 180, 183);
    padding: 10px;
    margin-bottom: 20px;
}

.host-bar:hover {
    border: 1px solid var(--link-color);
}

.host-bar:hover > div > p {
    color: var(--link-color);
}

.host-bar > div {
    display: flex;
    align-items: center;
}

.host-bar > div > p {
    height: min-content;
    color: var(--font-color);
    margin-left: 10px;
    font-size: 20px;
    text-decoration: none;
}

.host-bar > div:last-child {
    white-space: nowrap;
}

.sub {
    color: var(--font-color);
    font-variant: small-caps;
    text-decoration: underline;
}

#host-header {
    display: flex;
    justify-content: space-between;
}

#search {
    /* display: flex;
    align-content: center; */
}